<template lang="pug">
	v-card
		v-card-title {{$t('add.sector.title')}}
			v-spacer
			v-tooltip(left)
				template(v-slot:activator="{ on }")
					v-btn(fab small v-on="on" to="/sector")
						v-icon mdi-reply
				span {{$t('add.sector.actions.goToSector')}}
		v-card-text
			v-form(ref="form" v-model="valid")
				v-text-field(
					v-model="sector.name",
					:label="$t('add.sector.form.fields.name.label')"
					:rules="[rules.required, rules.minSize(2), rules.maxSize(50)]"
					:counter="50"
					autofocus
				)
				v-textarea(
					v-model="sector.description",
					:label="$t('add.sector.form.fields.description.label')"
					:rules="[rules.maxSize(255)]"
					:counter="255"
				)
		v-card-actions
			v-spacer
			v-btn(
				color="primary"
				:disabled="!valid",
				:loading="btnLoading"
				@click.prevent="actionAddSector"
			) {{$t('add.sector.form.actions.add')}}
</template>

<script>

import noty from '@/utils/noty'
import { mapActions } from 'vuex'
import validate from '@/utils/validate'

export default {
	name: 'AddSector',
	methods: {
	    ...mapActions('sector', ['addSector']),
		actionAddSector() {
	        this.btnLoading = true
	        this.addSector(this.sector).then(data => {
	            if (data) {
					this.$refs.form.reset()
					noty.success('add.sector.form.success', { name: data.name })
				}
	            this.btnLoading = false
			})
		}
	},
	data: () => ({
		rules: validate,
		valid: false,
		btnLoading: false,
		sector: {}
	})
}
</script>

<style scoped>

</style>