<template lang="pug">

	v-card(:loading="cardLoading")
		v-card-title {{$t('edit.sector.title')}}
			v-spacer
			v-tooltip(left)
				template(v-slot:activator="{ on }")
					v-btn(fab small v-on="on" to="/sector")
						v-icon mdi-reply
				span {{$t('edit.sector.actions.goToSector')}}
		v-card-text
			v-form(ref="form" v-model="valid")
				v-text-field(
					v-model="sector.name",
					:label="$t('edit.sector.form.fields.name.label')"
					:rules="[rules.required, rules.minSize(2), rules.maxSize(50)]"
					:counter="50"
					autofocus
				)
				v-textarea(
					v-model="sector.description",
					:label="$t('edit.sector.form.fields.description.label')"
					:rules="[rules.maxSize(255)]"
					:counter="255"
				)
		v-card-actions
			v-spacer
			v-btn(
				color="primary"
				:disabled="!valid",
				:loading="btnLoading"
				@click.prevent="actionEditSector"
			) {{$t('edit.sector.form.actions.edit')}}

</template>

<script>

import noty from '@/utils/noty'
import { mapActions } from 'vuex'
import validate from '@/utils/validate'

export default {
	name: 'EditSector',
	created() {
		console.log(this.$route.params.sectorId)
		this.findById(this.$route.params.sectorId).then(data => {
		    this.cardLoading = false
		    if (data) {
		        this.sector = data
			}
		})
	},
	methods: {
		...mapActions('sector', ['findById', 'editSector']),
		actionEditSector() {
			this.btnLoading = true
			this.editSector(this.sector).then(data => {
				if (data) {
					noty.success('edit.sector.form.success', { name: data.name })
				}
				this.btnLoading = false
			})
		}
	},
	data: () => ({
		rules: validate,
		valid: false,
		btnLoading: false,
		cardLoading: true,
		sector: {}
	})
}
</script>

<style scoped>

</style>