<template lang="pug">
	v-card
		v-card-title {{$t('sector.title')}}
			div.flex-grow-1
			v-text-field(
				v-model="search"
				append-icon="mdi-magnify"
				:label="$t('sector.fields.search.label')"
				single-line
				hide-details
			)
			v-spacer
			v-tooltip(left)
				template(v-slot:activator="{ on }")
					v-btn(fab small color="primary" v-on="on" to="/add/sector")
						v-icon mdi-plus
				span {{$t('sector.actions.add.tooltip')}}
		v-data-table(
			:loading="loading"
			:headers="headers"
			:items="sectors"
			:search="search"
			sort-by="name"
		)
			template(v-slot:item.action="{ item }")
				v-tooltip(top)
					template(v-slot:activator="{ on }")
						v-btn.float-right(fab x-small elevation=1 v-on="on" :to="'/edit/sector/' + item.id")
							v-icon mdi-pencil-outline
					span {{$t('sector.dataTable.actions.edit.tooltip')}}

</template>

<script>

import { mapActions } from 'vuex'
import i18n from '@/plugins/i18n'

export default {
	name: 'Sector',
	created() {
		this.listSector().then(data => {
			this.sectors = data
			this.loading = false
		})
	},
	methods: {
		...mapActions('sector', ['listSector'])
	},
	data: () => ({
		loading: true,
		search: '',
		sectors: [],
		headers: [{
			text: i18n.t('sector.dataTable.headers.name'),
			align: 'left',
			value: 'name',
		}, {
			text: i18n.t('sector.dataTable.headers.description'),
			sortable: false,
			value: 'description',
		}, {
		    text: '',
			value: 'action',
			sortable: false
		}]
	})
}
</script>

<style scoped>

</style>