<template lang="pug">
	v-app#inspire
		Sidebar
		Toolbar
		v-content
			v-container(fluid)
				router-view
		Footer
</template>

<script>

export default {
	name: 'App',
	components: {
		Sidebar: () => import('@/components/navigation/Sidebar'),
		Toolbar: () => import('@/components/navigation/Toolbar'),
	    Footer: () => import('@/components/navigation/Footer')
	}
}
</script>

<style scoped>

</style>