<template lang="pug">
	v-app#inspire
		v-content
			v-container(fluid fill-height)
				v-row(align="center" justify="center")
					router-view
</template>

<script>
export default {
	name: 'Security'
}
</script>

<style scoped>

</style>