<template lang="pug">
	v-card
		v-card-title {{$t('add.user.title')}}
			v-spacer
			v-tooltip(left)
				template(v-slot:activator="{ on }")
					v-btn(fab small v-on="on" to="/user")
						v-icon mdi-reply
				span {{$t('add.user.actions.goToUser')}}

		v-card-text

			v-form(ref="form" v-model="valid")
				UserProfile(:user="user")
				v-divider
				UserAddress(:user="user")
				v-divider
				UserCompany(:user="user")

		v-card-actions
			v-spacer
			v-btn(
				color="primary"
				:disabled="!valid",
				:loading="btnLoading"
				@click.prevent="actionAddUser"
			) {{$t('add.user.form.actions.add')}}

</template>

<script>

import noty from '@/utils/noty'
import { mapActions } from 'vuex'

export default {
	name: 'AddUser',
	components: {
		UserProfile: () => import('@/modules/user/components/UserProfile'),
		UserAddress: () => import('@/modules/user/components/UserAddress'),
		UserCompany: () => import('@/modules/user/components/UserCompany'),
	},
	methods: {
		...mapActions('user', ['addUser', 'addUserProfileImage']),
		actionAddUser() {
		    this.btnLoading = true
			const file = this.user.image
			this.addUser(this.user).then(data => {
				this.btnLoading = false
				if (data) {
					this.$refs.form.reset()
					noty.success('add.user.form.success', { firstName: data.firstName })
					if (file) {
						this.addUserProfileImage({userId: data.id, file: file}).then(d => {})
					}
					this.$router.push('/user')
				}

			})
		}
	},
	data: () => ({
		valid: false,
		btnLoading: false,
		user: {
			user_address: {},
			user_company: {}
		}
	})
}
</script>

<style scoped>

</style>