<template lang="pug">
	v-card
		v-card-title {{$t('edit.user.title')}}
			v-spacer
			v-tooltip(left)
				template(v-slot:activator="{ on }")
					v-btn(fab small v-on="on" to="/user")
						v-icon mdi-reply
				span {{$t('add.user.actions.goToUser')}}

		v-card-text

			v-form(ref="form" v-model="valid")
				UserProfile(:user="user" edit="true")
				v-divider
				UserAddress(:user="user")
				v-divider
				UserCompany(:user="user")

		v-card-actions
			v-spacer
			v-btn(
				color="primary"
				:disabled="!valid",
				:loading="btnLoading"
				@click.prevent="actionEditUser"
			) {{$t('edit.user.form.actions.edit')}}
</template>

<script>
import noty from '@/utils/noty'
import { mapActions } from 'vuex'
export default {
	name: 'EditUser',
	components: {
		UserProfile: () => import('@/modules/user/components/UserProfile'),
		UserAddress: () => import('@/modules/user/components/UserAddress'),
		UserCompany: () => import('@/modules/user/components/UserCompany'),
	},
	created(){
		this.byIdUser(this.$route.params.userId).then((data) => {
		    if (data) {
		        this.user = data
				this.user.sector = data.user_sectors.map(sector => sector.sectorId)
			}
		})
	},
	methods: {
		...mapActions('user', ['byIdUser', 'editUser']),
		actionEditUser() {
			this.btnLoading = true
			this.editUser(this.user).then(data => {
				this.btnLoading = false
				if (data) {
					noty.success('edit.user.form.success', { firstName: data.firstName })
					this.$router.push('/user')
				}

			})
		}
	},
	data: () => ({
		valid: false,
		btnLoading: false,
		user: {
			user_address: {},
			user_company: {}
		}
	})
}
</script>

<style scoped>

</style>