<template lang="pug">
	v-card
		v-card-title {{$t('user.title')}}
			div.flex-grow-1
			v-text-field(
				v-model="search"
				append-icon="mdi-magnify"
				:label="$t('user.fields.search.label')"
				single-line
				hide-details
			)
			v-spacer
			v-tooltip(left)
				template(v-slot:activator="{ on }")
					v-btn(fab small color="primary" v-on="on" to="/add/user")
						v-icon mdi-plus
				span {{$t('user.actions.add.tooltip')}}
		v-data-table(
			:loading="loading"
			:headers="headers"
			:items="users"
			:search="search"
			sort-by="firstName"
		)
			template(v-slot:item.image="{ item }")
				v-avatar(size="40")
					v-img(:src="profile(item.image)")
			template(v-slot:item.firstName="{ item }") {{item.firstName}} {{item.lastName}}
			template(v-slot:item.action="{ item }")
				v-tooltip(top)
					template(v-slot:activator="{ on }")
						v-btn.float-right(fab x-small elevation=1 v-on="on" :to="'/edit/user/' + item.id")
							v-icon mdi-pencil-outline
					span {{$t('user.dataTable.actions.edit.tooltip')}}
</template>

<script>

import { mapActions } from 'vuex'
import i18n from '@/plugins/i18n'
import image from '@/utils/image'
	
export default {
	name: 'User',
	created() {
		this.listUser().then(data => {
			this.users = data
			this.loading = false
		})
	},
	methods: {
		...mapActions('user', ['listUser']),
		profile: image.profile
	},
	data: () => ({
		loading: true,
		search: '',
		users: [],
		headers: [{
		    text: '',
			value: 'image'
		},{
			text: i18n.t('user.dataTable.headers.name'),
			align: 'left',
			value: 'firstName',
		}, {
			text: i18n.t('user.dataTable.headers.email'),
			value: 'email',
		}, {
			text: '',
			value: 'action',
			sortable: false
		}]
	})
}
</script>

<style scoped>

</style>