<template lang="pug">
	v-col(cols="12" sm="8" md="4")
		v-card.elevation-12
			v-toolbar(color="primary" dark flat)
				v-toolbar-title {{$t('security.changePassword.form.title')}}
			v-card-text.pb-0
				v-form(ref="form" v-model="valid")
					v-text-field#password(
						append-icon="mdi-lock-reset"
						:label="$t('security.changePassword.form.fields.password.label')"
						name="password"
						ref="password"
						type="password"
						v-model="user.password"
						:rules="[rules.required]"
						autofocus
					)

					v-text-field#password-confirm(
						append-icon="mdi-lock-reset"
						:label="$t('security.changePassword.form.fields.confirmPassword.label')"
						name="password-confirm"
						ref="password-confirm"
						type="password"
						v-model="user.confirmPassword"
						:rules="[rules.required]"
					)

			v-card-actions
				v-btn(
					block
					color="primary"
					:loading="loading"
					:disabled="!valid"
					@click.prevent="actionChangePassword"
				) {{$t('security.changePassword.form.actions.changePassword')}}
			div
				p.text-right.font-italic.caption.pr-3.pb-2
					router-link(
						to="/security/login"
					) {{$t('security.changePassword.form.link.goToLogin')}}
</template>

<script>

import { mapActions } from 'vuex'

import noty from '@/utils/noty'
import validate from '@/utils/validate'

export default {
	name: 'ChangePassword',
	data: () => ({
		user: {},
		valid: false,
		rules: validate,
		loading: false
	}),
	methods: {
	    ...mapActions('security', ['changePassword']),
		actionChangePassword() {
			this.loading = true
			this.user.hash = this.$route.params.hash
			this.changePassword(this.user).then(data => {
				if (data) {
					noty.success('security.changePassword.form.success')
					this.$router.push('/security/login')
				}
				this.loading = false
			})
		}
	}
}
</script>

<style scoped>

</style>