<template lang="pug">
	v-col(cols="12" sm="8" md="4")
		v-card.elevation-12
			v-toolbar(color="primary" dark flat)
				v-toolbar-title {{$t('security.forgot.form.title')}}
			v-card-text.pb-0
				v-form(ref="form" v-model="valid")
					v-text-field#email(
						append-icon="mdi-email"
						:label="$t('security.forgot.form.fields.email.label')"
						name="email"
						ref="email"
						type="text"
						v-model="user.email"
						autofocus
						:rules="[rules.required, rules.email]"
					)

			v-card-actions
				v-btn(
					block
					color="primary"
					:loading="loading"
					:disabled="!valid"
					@click.prevent="forgot"
				) {{$t('security.forgot.form.actions.forgot')}}
			div
				p.text-right.font-italic.caption.pr-3.pb-2
					router-link(
						to="/security/login"
					) {{$t('security.forgot.form.link.goToLogin')}}
</template>

<script>

import { mapActions } from 'vuex'

import noty from '@/utils/noty'
import validate from '@/utils/validate'

export default {
	name: 'Forgot',
	data: () => ({
		user: {},
		valid: false,
		rules: validate,
		loading: false
	}),
	methods: {
	    ...mapActions('security', ['forgotPassword']),
		forgot() {
			this.loading = true
			this.forgotPassword(this.user).then(data => {
				if (data) {
					this.$refs.form.reset()
					noty.success('security.forgot.form.success')
				}
				this.loading = false
			})
		}
	}
}
</script>

<style scoped>

</style>