<template lang="pug">
	v-col(cols="12" sm="8" md="4")
		v-card.elevation-12
			v-toolbar(color="primary" dark flat)
				v-toolbar-title {{$t('security.login.title')}}
			v-card-text.pb-0
				v-form(ref="form" v-model="valid")
					v-text-field#email(
						append-icon="mdi-email"
						:label="$t('security.login.form.fields.email.label')"
						name="email"
						ref="email"
						type="text"
						v-model="user.email"
						autofocus
						:rules="[rules.required, rules.email]"
					)
					v-text-field#password(
						append-icon="mdi-lock"
						:label="$t('security.login.form.fields.password.label')"
						name="password"
						ref="password"
						type="password"
						v-model="user.password"
						:rules="[rules.required]"
					)

			v-card-actions
				v-btn(
					block
					color="primary"
					:loading="btnLoading"
					:disabled="!valid"
					@click.prevent="authenticate"
				) {{$t('security.login.form.actions.btn.access')}}
			div
				p.text-right.font-italic.caption.pr-3.pb-2
					router-link(
						to="/security/forgot-password"
					) {{$t('security.login.form.link.goToForgot')}}
</template>

<script>

import { mapActions } from 'vuex'

import validate from '@/utils/validate'

export default {
	name: 'Login',
	data: () => ({
		user: {},
		valid: false,
		rules: validate,
		btnLoading: false
	}),
	methods: {
	    ...mapActions('security', ['login']),
		authenticate() {
			this.btnLoading = true
			this.login(this.user).then(data => {
				this.btnLoading = false
				if (data) {

					if (this.$route.query.redirect) {
						this.$router.push(this.$route.query.redirect)
					}
					else {
						this.$router.push('/')
					}

				}
			})
		}
	}
}
</script>

<style scoped>

</style>