<template lang="pug">
	v-footer(
		app
		tile
		inset
		padless
	)
		v-spacer
		v-btn(text x-small depressed tile @click.prevent="changeTheme" v-show="!$vuetify.theme.dark") D
		v-btn(text x-small depressed tile @click.prevent="changeTheme" v-show="$vuetify.theme.dark") P
		span.px-4.font-weight-thin.font-italic v{{version}}
</template>

<script>
export default {
	name: 'Footer',
	computed: {
	    version: () => process.env.VUE_APP_VERSION
	},
	methods: {
		changeTheme: function () {
			this.$vuetify.theme.dark = !this.$vuetify.theme.dark
		}
	}
}
</script>

<style scoped lang="scss">
	span {
		font-size: 10px
	}
</style>