<template lang="pug">
	v-navigation-drawer(
			app
			:value.sync="sidebarOpen"
			:mini-variant.sync="mini"
		)
		v-card.mx-auto(tile dark color="primary" elevation=1 height=63)
			v-list-item.pt-1
				v-list-item-avatar
					v-img(:src="user.gravatar")
				v-list-item-title {{user.firstName}} {{user.lastName}}
				v-btn(icon @click.stop="mini = !mini")
					v-icon mdi-chevron-left

		v-divider

		v-list(dense)
			v-list-item(link v-for="item in items" :key="item.text" :to="item.to")
				v-list-item-icon
					v-tooltip(right)
						template(v-slot:activator="{ on }")
							v-icon(v-on="on") {{ item.icon }}
						span {{ item.text }}
				v-list-item-content
					v-list-item-title {{ $t(item.text) }}

</template>

<script>

import { mapState, mapGetters } from 'vuex'

export default {
	name: 'Sidebar',
	data: () => ({
		mini: false,
		items: [{
		    icon: 'mdi-newspaper-variant-multiple-outline',
			text: 'components.navigation.sidebar.leftMenu.item.news.text',
			to: '/'
		}, {
		    icon: 'mdi-view-dashboard-outline',
			text: 'components.navigation.sidebar.leftMenu.item.dashboard.text',
			to: '/dashboard'
		}, {
		    icon: 'mdi-account-group-outline',
			text: 'components.navigation.sidebar.leftMenu.item.user.text',
			to: '/user'
		}, {
		    icon: 'mdi-briefcase-check',
			text: 'components.navigation.sidebar.leftMenu.item.sector.text',
			to: '/sector'
		}]
	}),
	computed: {
		...mapState('app', ['sidebarOpen']),
		...mapGetters('user', ['user'])
	}
}
</script>

<style scoped>

</style>