<template lang="pug">

	v-app-bar(app dark color="primary" elevation=1 height=63)

		v-btn(icon @click.stop="sidebar")
			v-icon mdi-menu

		v-toolbar-title {{$t('components.navigation.toolbar.title')}}

		div.flex-grow-1

		v-menu(left :close-on-content-click="false" offset-x)

			template(v-slot:activator="{ on }")
				v-btn(icon v-on="on")
					v-icon mdi-dots-vertical

			v-card

				v-divider

				v-list(dense)
					v-list-item(v-for="item in items" :key="item.text" @click.prevent="profileAction(item.action)")
						v-list-item-action
							v-icon {{ item.icon }}
						v-list-item-content
							v-list-item-title {{ $t(item.text) }}

</template>

<script>

import {mapActions, mapMutations} from 'vuex'

export default {
	name: 'Toolbar',
	data() {
	    return {
			items: [{
				icon: 'mdi-logout-variant',
				text: 'components.navigation.toolbar.rightMenu.item.logout.text',
				action: 'logout'
			}]
		}
	},
	methods: {
	    ...mapMutations('app', ['sidebar']),
		...mapActions('security', ['logout']),
		profileAction: function(action) {
	        this[action]()
		}
	}
}
</script>

<style scoped>

</style>