<template lang="pug">

	v-container

		v-row(no-gutters)
			v-col.text-center(cols="12" md="3")
				v-avatar(size=190)
					img(:src="profile(user.image)")
					input(type="file" ref="image" @change="imageChange" accept="image/png, image/jpeg" style="display: none")
					v-btn(fab absolute bottom x-small @click.prevent="$refs.image.click()")
						v-icon mdi-camera

			v-col(cols="12" md="9")
				v-container
					v-row
						v-col(cols="12" md="6")
							v-text-field(
								v-model="user.firstName",
								:label="$t('user.form.fields.firstName.label')"
								prepend-icon="mdi-rename-box"
								autofocus
								:rules="[rules.required, rules.minSize(3), rules.maxSize(255)]"
							)
						v-col(cols="12" md="6")
							v-text-field(
								v-model="user.lastName",
								:label="$t('user.form.fields.lastName.label')"
								prepend-icon="mdi-rename-box"
								:rules="[rules.required, rules.minSize(3), rules.maxSize(255)]"
							)

						v-col(cols="12" md="6")
							v-text-field(
								v-model="user.email",
								:label="$t('user.form.fields.email.label')"
								prepend-icon="mdi-email"
								:rules="[rules.required, rules.email]"
							)

						v-col(cols="12" md="3")
							v-text-field(
								v-model="user.cpf",
								:label="$t('user.form.fields.cpf.label')"
								v-mask="['###.###.###-X', '###.###.###-##']"
								prepend-icon="mdi-numeric"
								:rules="[rules.required]"
							)

						v-col(cols="12" md="3")
							v-text-field(
								v-model="user.rg",
								:label="$t('user.form.fields.rg.label')"
								v-mask="['##.###.###-#']"
								prepend-icon="mdi-numeric"
								:rules="[rules.required]"
							)

						v-col(cols="12" md="4")
							v-dialog(
								ref="dialog"
								v-model="birthdayModal"
								:return-value.sync="user.birthday"
								persistent
								max-width="290px"
							)
								template(v-slot:activator="{ on }")
									v-text-field(
										:value="birthdayFormat"
										:label="$t('user.form.fields.birthday.label')"
										prepend-icon="mdi-calendar"
										readonly
										v-on="on"
										:rules="[rules.required]"
									)
								v-date-picker(
									ref="birthdayPicker"
									v-model="user.birthday"
									:max="maxBirthdayDate"
									:min="minBirthdayDate"
									:locale="datePickerLocale"
									activePicker="YEAR"
								)
									div.flex-grow-1
									v-btn(text color="primary" @click="birthdayModal = false") {{$t('user.form.fields.birthday.actions.cancel')}}
									v-btn(text color="primary" @click="$refs.dialog.save(user.birthday)") {{$t('user.form.fields.birthday.actions.save')}}

						v-col(cols="12" md="4")
							v-text-field(
								v-model="user.phone",
								:label="$t('user.form.fields.phone.label')"
								v-mask="['(##) ####-####']"
								prepend-icon="mdi-phone"
							)

						v-col(cols="12" md="4")
							v-text-field(
								v-model="user.cellPhone",
								:label="$t('user.form.fields.cellPhone.label')"
								v-mask="['(##) #####-####', '(##) ####-####']"
								prepend-icon="mdi-cellphone"
								:rules="[rules.required]"
							)
</template>

<script>
	
import { mapActions } from 'vuex'
import validate from '@/utils/validate'
import moment from 'moment'
import i18n from '@/plugins/i18n'
import { mask } from 'vue-the-mask'
import image from '@/utils/image'

export default {
	name: 'UserProfile',
	directives: {mask},
	props: ['user', 'edit'],
	methods: {
		...mapActions('user', ['addUserProfileImage']),
		profile: image.profile,
		imageChange(e) {
			const file = e.target.files[0]
			this.imageUrl = URL.createObjectURL(file)
			this.user.image = file
			if (this.edit) {
				this.addUserProfileImage({userId: this.user.id, file: file}).then(d => {})
			}
		}
	},
	computed: {
		birthdayFormat() {
			return this.user.birthday ? moment(this.user.birthday).format('DD/MM/YYYY') : ''
		},
		minBirthdayDate(){
			return moment(moment.now()).subtract(70, 'year').format('YYYY-MM-DD')
		},
		maxBirthdayDate() {
			return moment(moment.now()).subtract(16, 'year').format('YYYY-MM-DD')
		},
		datePickerLocale() {
			return i18n.locale
		}
	},
	watch: {
		birthdayModal(val) {
			val && setTimeout(() => (this.$refs.birthdayPicker.activePicker = 'YEAR'))
		}
	},
	data: () => ({
		rules: validate,
		birthdayModal: false,
		imageUrl: 'https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y'
	})
}
</script>

<style scoped>

</style>