<template lang="pug">
	v-container
		v-row

			v-col.text-center(cols="12" md="3")
				v-avatar(size=190 color="grey lighten-1")
					v-icon mdi-domain

			v-col(cols="12" md="9")

				v-container

					v-row

						v-col(cols="12" md="12")
							v-autocomplete(
								v-model="user.sector",
								:label="$t('user.form.fields.sector.label')"
								prepend-icon="mdi-vector-intersection"
								:items="sectors"
								item-text="name"
								item-value="id"
								:loading="sectorLoading"
								deletable-chips
								chips
								multiple
								:rules="[rules.required]"
							)

						v-col(cols="12" md="6")
							v-text-field(
								v-model="user.user_company.facebook",
								:label="$t('user.form.fields.facebook.label')"
								prepend-icon="mdi-facebook"
							)

						v-col(cols="12" md="6")
							v-text-field(
								v-model="user.user_company.linkedin",
								:label="$t('user.form.fields.linkedin.label')"
								prepend-icon="mdi-linkedin"
							)

						v-col(cols="12" md="6")
							v-checkbox(
								v-model="user.user_company.car",
								:label="$t('user.form.fields.car.label')"
								prepend-icon="mdi-car"
							)

						v-col(cols="12" md="6")
							v-text-field(
								v-model="user.user_company.cat",
								:label="$t('user.form.fields.cat.label')"
								type="number"
								prepend-icon="mdi-cat"
								:rules="[rules.required]"
							)

						v-col(cols="12" md="12")
							v-textarea(
								v-model="user.user_company.howDidYouMeet",
								:label="$t('user.form.fields.howDidYouMeet.label')"
								prepend-icon="mdi-domain"
								:counter="500"
								:rules="[rules.required]"
							)

</template>

<script>

import { mapActions } from 'vuex'
import validate from '@/utils/validate'

export default {
	name: 'UserCompany',
	props: ['user'],
	created(){
	    this.listSector().then(data => {
	        if (data){
	            this.sectors = data
			}
	        this.sectorLoading = false
		})
	},
	methods: {
	    ...mapActions('sector', ['listSector'])
	},
	data: () => ({
		rules: validate,
		sectors: [],
		sectorLoading: true
	})
}
</script>

<style scoped>

</style>