<template lang="pug">
	v-container

		v-row

			v-col(cols="12" md="9")
				v-container
					v-row
						v-col(cols="12" md="6")
							v-text-field#address(
								ref="address"
								v-model="user.user_address.address",
								placeholder=""
								:label="$t('user.form.fields.address.label')"
								prepend-icon="mdi-map-marker"
								hint="ex: avenida paulista, 300"
								:rules="[rules.required]"
							)

						v-col(cols="12" md="3")
							v-text-field(
								v-model="user.user_address.number",
								:label="$t('user.form.fields.number.label')"
								prepend-icon="mdi-numeric"
								:rules="[rules.required]"
							)

						v-col(cols="12" md="3")
							v-text-field(
								v-model="user.user_address.complement",
								:label="$t('user.form.fields.complement.label')"
								prepend-icon="mdi-code-string"
							)

						v-col(cols="12" md="5")
							v-text-field(
								v-model="user.user_address.district",
								:label="$t('user.form.fields.district.label')"
								prepend-icon="mdi-home-group"
								:rules="[rules.required]"
							)

						v-col(cols="12" md="5")
							v-text-field(
								v-model="user.user_address.city",
								:label="$t('user.form.fields.city.label')"
								prepend-icon="mdi-city"
								:rules="[rules.required]"
							)

						v-col(cols="12" md="2")
							v-text-field(
								v-model="user.user_address.state",
								:label="$t('user.form.fields.state.label')"
								prepend-icon="mdi-home-city"
								:rules="[rules.required]"
							)

						v-col(cols="12" md="4")
							v-text-field(
								v-model="user.user_address.country",
								:label="$t('user.form.fields.country.label')"
								prepend-icon="mdi-map"
								:rules="[rules.required]"
							)

						v-col(cols="12" md="4")
							v-text-field(
								v-model="user.user_address.postalCode",
								:label="$t('user.form.fields.postalCode.label')"
								prepend-icon="mdi-code-array"
								:rules="[rules.required]"
							)

			v-col.text-center(cols="12" md="3")
				v-avatar(size=190 ref="map")

</template>

<script>

import gmaps from '@/utils/gmaps'
import { mask } from 'vue-the-mask'
import validate from '@/utils/validate'
	
export default {
	name: 'UserAddress',
	props: ['user'],
	directives: {mask},
	created() {
		this.initMap()
	},
	methods: {
		initMap: async function () {

			this.google = await gmaps.map()

			this.map = new this.google.maps.Map(this.$refs.map.$el, {
				disableDefaultUI: true
			})

			this.map.setOptions({styles: gmaps.mapTheme.retro})

			const geocoder = new this.google.maps.Geocoder()

			geocoder.geocode({ address: 'São Paulo' }, (results, status) => {

				if (status !== 'OK' || !results[0]) {
					throw new Error(status)
				}

				this.map.setCenter(results[0].geometry.location)
				this.map.fitBounds(results[0].geometry.viewport)

			})

			this.initPlacesAutocomplete()

		},
		initPlacesAutocomplete: function () {

			this.googlePlacesAutocomplete = new this.google.maps.places
				.Autocomplete(document.getElementById('address'))

			this.googlePlacesAutocomplete.setTypes(['address'])

			this.googlePlacesAutocomplete.setFields(['address_component'])

			this.googlePlacesAutocomplete.addListener('place_changed', () => {

				const place = this.googlePlacesAutocomplete.getPlace()

				if (place) {

					const geocoder = new this.google.maps.Geocoder()

					geocoder.geocode({ address: this.user.user_address.address }, (results, status) => {

						if (status !== 'OK' || !results[0]) {
							throw new Error(status)
						}

						this.map.setCenter(results[0].geometry.location)
						this.map.fitBounds(results[0].geometry.viewport)

						new this.google.maps.Marker({
							position: results[0].geometry.location,
							map: this.map
						})

					})

					this.user.user_address.address = place.address_components
						.filter((type) => type.types[0] === 'route')[0].short_name

					this.user.user_address.number = place.address_components
						.filter((type) => type.types[0] === 'street_number')[0].short_name

					this.user.user_address.district = place.address_components
						.filter((type) => type.types[0] === 'sublocality_level_1')[0].short_name

					this.user.user_address.city = place.address_components
						.filter((type) => type.types[0] === 'administrative_area_level_2')[0].long_name

					this.user.user_address.state = place.address_components
						.filter((type) => type.types[0] === 'administrative_area_level_1')[0].short_name

					this.user.user_address.country = place.address_components
						.filter((type) => type.types[0] === 'country')[0].long_name

					this.user.user_address.postalCode = place.address_components
						.filter((type) => type.types[0] === 'postal_code')[0].long_name

				}

			})

		}
	},
	data: () => ({
		rules: validate,
		google: null,
		googlePlacesAutocomplete: null,
		map: null
	})
}
</script>

<style scoped>

</style>